.about-me-layout {
    background: url('/images/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 120rem;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @media (min-width: 800px) {
        flex-direction: row;
        justify-content: space-between;
        min-height: 60rem;
    }
}

.about-me-resize-container {
    @media (min-width: 1040px) {
        background: url('/images/grass.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 40%;
        height: 100%;
        padding: 0 $s-size;
    }
    padding: $m-size $s-size;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-container {
    background: url('/images/flowers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1.5rem solid #370000;
    border-radius: 2rem;
    color: #fff;
    width: 35rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: .1rem -.2rem .5rem .3rem rgba(0, 0, 0, 0.25);

    h2 {
        opacity: .9;
        padding: $m-size;
        text-align: center;
        font-size: 3.4rem;
        font-weight: 400;
        line-height: 1.2;

    }

    p {
        opacity: .9;
        padding: $s-size;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: .2rem;
    }
}


.about-me__table-container {
    background: url('/images/table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4rem;
    color: #fff;
    width: 35rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1.5rem -2.5rem 1rem .5rem rgba(0, 0, 0, 0.3);

    h2 {
        opacity: .9;
        text-align: center;
        font-size: $l-size;
        font-weight: 400;
        line-height: 1.2;
    }

    p {
        padding: 0 $m-size;
        opacity: .9;
        font-size: $m-size;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: .2rem;
    }

    span {
        padding: 0 $m-size;
        opacity: .9;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: .25rem;
        line-height: 1.3;
        text-align: center;
    }
}

.about-me__chair-table-container {

    @media (min-width: 1040px) {
        background: url('/images/grass.jpg');
        height: 100%;
        width: 40%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-me__chairs-container {
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35rem;
}

.about-me__chair-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.about-me__chair {
    background: url('/images/top-chair.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 10rem;
    height: 10rem;
    box-shadow: .6rem -.7rem .3rem .2rem rgba(0, 0, 0, 0.3);

    &--right {
        background: url('/images/bottom-chair.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 10rem;
        height: 10rem;
        box-shadow: .6rem -.7rem .3rem .2rem rgba(0, 0, 0, 0.3);
     }
}
