.contact-section {
  max-width: 100vw;
  min-width: 260px;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $main-blue;
  background: linear-gradient(
    #666666,
    #999999 25%,
    #aaaaaa 50%,
    #999999 75%,
    #666666 100%
  );
}
.contact-error {
  color: $main-red;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17.5rem;
  margin: 0 auto;
  font-family: "Indie Flower", cursive;
  border: 0.25rem solid black;
  color: #44aacc;
  color: $main-blue;
  padding: $m-size;
  border-radius: 0.25rem 0.25rem 0 0;
  background: white;
  height: 27.5rem;

  &-whiteboard-bottom {
    width: 17.5rem;
    height: 1.5rem;
    border: 0.25rem solid black;
    border-top: none;
    transform: skewX(-45deg) translate(-0.75rem, 0);
    margin: 0 auto;
    border-radius: 0 0 0.25rem 0.25rem;
    box-shadow: 0.75rem 0.5rem 0 0 black;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &-title {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: $m-size;
  }
  &-label {
    align-self: flex-start;
  }
  &-input-div {
    width: 100%;
    display: flex;
    &:before {
      content: "X";
      color: $main-red;
      font-size: $l-size;
      padding-bottom: 0.25rem;
      line-height: 1;
    }
  }
  &-contactinput {
    width: 100%;
    border: none;
    border-bottom: 1px solid $main-blue;
    margin-bottom: $m-size;
    font-family: cursive, "Indie Flower";
    line-height: 1;
    font-size: $m-size;
    padding-left: 0.5rem;
    background: inherit;
  }
  &-label-error-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &-error {
    color: red;
    font-size: 0.7rem;
  }
  &-comments-area {
    background: repeating-linear-gradient(
      white,
      white 0.95rem,
      $main-blue 0.95rem,
      $main-blue 1rem
    );
    line-height: 1rem;
    resize: none;
    width: 100%;
    height: 8rem;
    border: none;
    font-family: cursive, "Indie Flower";
    overflow: hidden;
    margin-bottom: 0.8rem;
  }
  &-submit {
    border: none;
    color: black;
    border-bottom: 1px solid $main-blue;
    background: inherit;
    cursor: pointer;
    font-family: "Indie Flower", cursive;
    font-size: 1.2rem;
    display: block;
    margin: 0 auto;
  }
}
.fade-away {
  animation: fade-away 1s forwards;
}
.hide-form {
  display: none;
}
@keyframes fade-away {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.marker {
  display: flex;
  align-items: center;
  transform: skewX(10deg);
}
.marker-body {
  width: 2.5rem;
  height: 0.25rem;
  background: #000000;
  transform: translateY(-0.2rem);
  box-shadow: #111111 1px 1px, #111111 2px 2px, #111111 3px 3px, #111111 4px 4px,
    #111111 5px 5px;
  border-radius: 0.25rem 0 0 0.25rem;
}
.marker-cap {
  width: 1rem;
  height: 0.35rem;
  background: #000000;
  transform: translateY(-0.2rem);
  box-shadow: #111111 1px 1px, #111111 2px 2px, #111111 3px 3px, #111111 4px 4px,
    #111111 5px 5px;
  border-radius: 0 0.25rem 0.25rem 0;
}
.eraser {
  width: 3.5rem;
  height: 1rem;
  line-height: 1.5;
  font-size: $s-size;
  padding-left: 1rem;
  color: #555555;
  background: #000000;
  transform: translateY(-0.5rem) skewX(10deg);
  position: relative;
  box-shadow: #333333 1px 1px, #333333 2px 2px, #333333 3px 3px, #333333 4px 4px,
    #333333 5px 5px, #333333 6px 6px, #333333 7px 7px, #333333 8px 8px,
    #333333 9px 9px;
  border-radius: 0.25rem;
}
