.footer-div {
  font-family: "Indie Flower", cursive;
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: #ffffff;
}

.coffee-icon {
  font-size: 1rem;
}
