.paper-box {
    font-family: 'Indie Flower', cursive;
    width: 28rem;
    height: 40rem;
    background: url('/images/notebook-page-transparent.jpg');
    background-size: cover;
    border-radius: 5px;
    animation: fadeIn 2s ease-out;
    align-self: center;
}

.paper-tape {
    margin: -4rem -2rem 0 -2rem;
    display: flex;
    justify-content: space-between;

    &--left {
        width: 7rem;
        height: 7rem;
        animation: moveInTopLeft 3s ease-out;
    }

    &--right {
        width: 7rem;
        height: 7rem;
        animation: moveInTopRight 3s ease-out;
    }
}

.paper-header {
    margin: -1.5rem 0 0 7rem;
    line-height: 1;
}

.paper-text {
    margin: 1rem .5rem 0 4.5rem;
    font-size: 2.2rem;
    line-height: 1.05;

    &--chrome {
        line-height: 1.07;
    }
}

@keyframes moveInTopLeft {
    0% {
        opacity: 0;
        transform: translate(-100%, -100%) rotate(45deg);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTopRight {
    0% {
        opacity: 0;
        transform: translate(100%, -100%) rotate(-45deg);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}


// .paper-opacity {
//     position: relative;
//     z-index: 1;
// }

// .paper-opacity:before {
//   position: absolute;
//   top: 0; 
//   left: 0;
//   width: 100%; 
//   height: 100px;  
//   opacity: .5; 
//   z-index: -1;
//   background: url('/images/notebook-page.jpg');
// }